.caja{
    margin: 200px;
    background-color: lightblue;
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    transition: all 0.8s ease;
    apacity: o.5
}


.caja:hover{
    /*box-shadow: inset 0 0 0 25px red;*/
    /*font-size: 100px;*/
    
    background-color: blue;


}

img:{
    filter: grayscale(0)
    transition: all 0.5s ease;
    cursor: pointer;

}

img :hover{
    filter: grayscale(0);
    border-right: 12px solid red;
}