.contenedor{
    background-color: gray;
   display: flex;
  /*display: inline-flex;*/
  flex-direction: flex;
  /*flex-direction: row;*/
  /*flex-direction: row-reverse;*/
  flex-direction: column;
  flex-direction:column-reverse;
}

.item{
    background-color: lightblue;
    width: 100px;
    height: 100px;
    margin: 20px;
}